/* Navbar container */
.navbar {
  width: 100%;
  background-color: none;
  padding: 10px;
}
.navbar > ul {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
}
.navbar > ul > li {
  display: inline;
  transition: ease-in-out 0.16s;
}
.navbar > ul > li:hover {
  cursor: pointer;
  color: #5c5c5c;
  transform: scale(1.1);
}
